body {
    /* font-family: Arial, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 50px;
    background-color: #f4f4f4;
    font-size: 35px;
}

h1 {
    color: #333;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ddd;
    border-top: 1px solid #ddd;

    padding: 12px 0;
    /* gap: 30px;
    right: 30px; */
}

.nav>a {
    /* font-weight: normal;
    color: #000;
    text-decoration: none;
    border: 1px solid #f4f4f4;
    border-radius: 7px;
    padding: 20px 60px; */
    text-decoration: none;
    color: #333;
    font-size: 35px;
}

.nav>a:hover {
    font-weight: bold;
    background-color: #dedede;
}


/* --------------------------------------------------------------------------------------- */
/*                                          HOME                                           */
/* --------------------------------------------------------------------------------------- */


.ad {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
    /* border: 2px solid #4d4d4d; */
    /* border-radius: 15px; */
    padding: 15px 30px;
    max-width: 100%;
    cursor: pointer;
}

.ad>.text-content {
    flex: 1;
    /* font-size: 35px; */
}

.ad-img {
    flex: 0 1 400px;
    padding-right: 30px;
    align-items: center;
}

.ad-img>img {
    max-width: 80%;
    height: auto;
    display: block;
    padding: 30px;
}


/* --------------------------------------------------------------------------------------- */
/*                                         ABOUT                                           */
/* --------------------------------------------------------------------------------------- */


.about-info {
    background-color: #e3cbc1;
    border-radius: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 35px;
}

.about-instruments-imgs {
    background-color: #e3daac;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 20px;
}

.about-heading {
    font-size: 48px;
    font-weight: bold;
}

.about-me {
    margin-top: 16px;
    padding-left: 20px;
    list-style: none;
}

.about-me>li {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    gap: 10px;
}

.about-me>li::before {
    content: "✔";
    color: #4CAF50;
    font-weight: bold;
}

.about-instruments {
    margin-top: 16px;
    padding-left: 40px;
    list-style: none;
}

.about-instruments>li {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-instruments>li::before {
    content: "★";
    color: #b8a911;
    font-weight: bold;
    font-size: 21px;
}

.about-note {
    margin-top: 20px;
    margin-left: 42px;
    margin-bottom: 40px;
    font-size: 28px;
}

.about-instruments-imgs {
    margin-top: 50px;
}

.marimba-about>li,
.xylo-about>li,
.snare-drum-about>li {
    margin-bottom: 8px;
}

.about-instruments-imgs>img {
  display: block;
  margin: 3cap auto 6cap auto;
  max-width: 80%;
  height: auto;
}


/* --------------------------------------------------------------------------------------- */
/*                                         LESSONS                                         */
/* --------------------------------------------------------------------------------------- */


.lessons-info,
.lessons-type {
    max-width: 1000px;
    margin: 0 auto;
    border: 1.5px solid #f5f7fa; 
    border-radius: 20px;
    padding: 24px 28px;
    background-color: #fafafa;
}

.lessons-type {
    max-width: 100%;
    margin: 110px auto;
}

.lessons-heading {
    font-weight: bold;
    font-size: 38px;
    margin: 15px 0;
    letter-spacing: 0.05em;
}

.lessons-points {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 30px;
}

.lessons-points>li {
    margin: 12px 0;
    line-height: 1.5;
}

.lessons-points>li>ul {
    list-style-type: circle;
    margin-top: 6px;
    margin-left: 20px;
    padding-left: 0;
}

.lessons-points li>ul>li {
    margin-bottom: 8px;
}

.lessons-points>li>ul {
    margin-top: 4px;
    margin-left: 20px;
    padding-left: 0;
}

.lessons-in-person {
    font-weight: bold;
    text-align: center;
    /* margin: 25px 0 28px; */
}

.lessons-location {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 25px;
}


/* --------------------------------------------------------------------------------------- */
/*                                         CONTACT                                         */
/* --------------------------------------------------------------------------------------- */


.contact-form {
    max-width: 700px;
    margin: 50px auto;
    font-size: 35px;
    line-height: 1.5;
}

.contact-form label {
    display: block;
    margin-bottom: 28px;
    font-weight: 500;
}

.contact-form label > p {
    margin: 8px 0 6px;
    font-size: 24px;
}

.contact-msg-info {
    margin: 6px 0 12px 20px;
    font-size: 28px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px 10px;
    font-size: 30px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 8px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 50px;
    font-size: 15px;
    background-color: #f5f5f5;
    border: 1px solid #aaa;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #eaeaea;
}